div.avatar-container {
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18rem;
  height: 18rem;
  margin-top: 8rem;
}

img.avatar {
  border-radius: 3rem;
}

@media (max-width: 40rem) {
  div.avatar-container {
    width: 10rem;
    height: 10rem;
    margin-top: 25%;
  }
}
