div.navbar-container__background {
  width: 100%;
  position: fixed;
  height: 4rem;
  top: 0;
  left: 0;
  backdrop-filter: saturate(180%) blur(0.5rem);
  z-index: 1000;
}

div.navbar-container__background__color__light {
  background: rgba(255, 255, 255, 0.9);
}

div.navbar-container__background__color__dark {
  background: rgba(0, 0, 0, 0.8);
}

div.navbar-container__shadow {
  box-shadow: rgba(2, 1, 1, 0.1) 0 5px 20px -5px;
}

nav.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
}

div.navbar-brand__container {
  display: none;
  align-items: center;
  justify-content: center;
}

div.navbar-brand__display {
  display: flex;
}

h1.navbar-brand {
  font-size: 1.6rem;
  margin-bottom: 0;
  white-space: nowrap;
  display: block;
  margin: 12px 12px 12px 20px;
}

ul.navbar-links__list {
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style-type: none;
}

a.navbar-link {
  text-decoration: none !important;
}

li.navbar-link__list-item {
  margin: 0 0.4rem;
}

/* Burger menu */
div.burger-menu__button__container {
}

@media (max-width: 40rem) {
  ul.navbar-links__list {
    display: none;
  }
}
