div.about-me__container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-top: 3rem;
}

p.about-me__text {
  font-size: 1.125rem;
  color: rgb(75 85 99/1);
  text-align: justify;
  line-height: 1.75rem;
  font-family: "Inter var", -apple-system, "system-ui", "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
