div.book__container {
  position: relative;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

div.book__container:hover {
  transform: translateY(-1rem);
  transition: transform 300ms ease;
}

div.book-cover__container {
}

div.book-cover__container__overlay {
  position: absolute;
  top: 0;
  right: 0;
}

div.book-cover__container__overlay {
  mix-blend-mode: multiply;
  z-index: 1000;
}
