div.book-shelf__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

@media (max-width: 40rem) {
  div.book-shelf__container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
  }
}
