div.projects__container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 2rem;
}

div.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 15rem;
  grid-gap: 4rem;
  grid-auto-flow: rows;
}

@media (max-width: 40rem) {
  div.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15rem 15rem 15rem 15rem;
    grid-gap: 2.5rem;
    grid-auto-flow: rows;
  }
}
