div.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 4rem;
}

div.main-button__container {
  margin: 4rem;
}

a.main-button__alink {
  text-decoration: none;
}
