div.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-height: 100vh;
}

div.theme-switch__container {
  position: absolute;
  top: 6rem;
  right: 5%;
}

@media (max-width: 40rem) {
  div.main-container {
    width: 100%;
    padding: 0 1rem;
  }
}
