div.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

@media (max-width: 40rem) {
  div.main-container {
    width: 100%;
    padding: 0 1rem;
  }
}
